// Bootstrap
@import '../../../node_modules/bootstrap/scss/bootstrap.scss';

.required:after {
  content: '*';
  color: $red;
}

.has-success .form-control-label {
  color: $gray-dark;
}

.steps {
  margin-top: 40px;
}

.steps-tabs {
  display: flex;
}
